@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KalamehRegular';
  src:
    url(./assets/fonts/Kalameh-Regular.woff) format('woff'),
    url(./assets/fonts/Kalameh-Regular.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'KalamehBold';
  src:
    url(./assets/fonts/Kalameh-Bold.woff) format('woff'),
    url(./assets/fonts/Kalameh-Bold.woff2) format('woff2');
  font-style: normal;
}
@font-face {
  font-family: 'kalameh';
  src:
    url(./assets/fonts/Kalameh-Medium.woff) format('woff'),
    url(./assets/fonts/Kalameh-Medium.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'KalamehExtraBold';
  src:
    url(./assets/fonts/Kalameh-ExtraBold.woff) format('woff'),
    url(./assets/fonts/Kalameh-ExtraBold.woff2) format('woff2');
  font-style: normal;
}

body {
  direction: rtl;
  font-family: 'Kalameh';
}

select {
  -webkit-appearance: none; /* Remove default arrow for Webkit browsers like Chrome and Safari */
  -moz-appearance: none; /* Remove default arrow for Firefox */
  appearance: none;
}

.header-1 {
  font-family: 'KalamehBold';
  font-size: 3.875rem;
  line-height: normal;
  @media screen and (max-width: 1200px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 900px) {
    font-size: 2.5rem;
  }
  @media screen and (max-width: 600px) {
    font-size: 2.05675rem;
  }
  /*
  @media screen and (max-width: 900px) {
    font-size: 3rem;
  } */
}

.title-1 {
  font-family: 'KalamehBold';
  font-size: 2.875rem;
  line-height: normal;
  @media screen and (max-width: 1200px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 900px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 600px) {
    font-size: 0.77488rem;
  }
}

.title-2 {
  font-family: 'KalamehBold';
  font-size: 2.175rem;
  line-height: normal;
}

.header-2 {
  font-family: 'kalameh';
  font-size: 1.83656rem;
  @media screen and (max-width: 1200px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 900px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 600px) {
    font-size: 0.77488rem;
  }
}

.btn {
  font-family: 'kalameh';
  font-size: 1.3125rem;
  line-height: 1.07188rem;
  @media screen and (max-width: 600px) {
    font-size: 0.83rem;
  }
}

.btn-2 {
  font-family: 'kalameh';
  font-size: 1.0125rem;
  line-height: 1.00188rem;
  /* @media screen and (max-width: 758px) {
    font-size: 0.83rem;
  } */
}

.body {
  font-family: 'kalameh';
  font-size: 1.22963rem;
  line-height: normal;
  @media screen and (max-width: 758px) {
    font-size: 0.83rem;
  }
}

#root {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
  direction: rtl;
}

::-webkit-scrollbar {
  display: none;
}
.bounce {
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  1000% {
    transform: translateY(0);
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Animations */
.slideUpScroll {
  animation: slideUp 2.2s 1.8s both;
}

@keyframes slideUp {
  from {
    transform: translateY(6rem);
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideDown {
  animation: slideDown 0.6s 0.9s both;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100%) scale(1.1);
  }

  60% {
    transform: scale(1.1);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.slideLeft {
  animation: slideLeft 0.8s 1.2s both;
}

@keyframes slideLeft {
  from {
    transform: translateX(4rem);
    opacity: 0;
  }

  60% {
    opacity: 0.8;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.showFromRight {
  z-index: -1;
  animation: showFromRight 0.6s 1.8s linear both;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
}

@keyframes showFromRight {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.rotateMagnifier {
  animation: rotateMagnifier 0.8s both;
}

@keyframes rotateMagnifier {
  from {
    transform: rotate(20deg) scale(0.6);
  }

  to {
    transform: rotate(0) scale(1);
  }
}

.slideUpMagnifier {
  animation: slideUpMagnifier 0.8s both;
}

@keyframes slideUpMagnifier {
  from {
    transform: translateY(8rem) scale(1.2);
    opacity: 0;
  }

  60% {
    transform: translateY(3rem) scale(1.2);
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
