@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
  direction: rtl;
}
.col2 {
  transition: 2s ease;
  animation-name: trhead;
  animation-iteration-count: infinite;
  animation-duration: 7s;
}

@keyframes trhead {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  1000% {
    transform: translateY(0);
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
